<div class="container">
  <div class="row">
    <div class="column column-12">
      <h1><%= @nasa_info['title'] %> | <%= @nasa_info['date'] %></h1>
    </div>
  </div>

  <div class="row">
    <div class="column column-12">
      <img src="<%= @nasa_info["url"] %>" alt="daily nasa photo" />
    </div>
  </div>

  <div class="row">
    <div class="column column-12">
      <p><%= @nasa_info['explanation'] %></p>
    </div>
  </div>

  <% if @nasa_info['copyright']  %>
    <div class="row">
      <div class="column column-12">
        <strong><%= "\u00A9" %> <%= @nasa_info['copyright'] %><strong>
      </div>
    </div>
  <% end %>
</div>
