<div class="container">
  <div class="row">
    <div class="column column-12">
      <h1><%= @nasa_info['title'] %></h1>
    </div>
  </div>

  <div class="row">
    <div class="column column-12">
      <%= @nasa_info['date'] %>
    </div>
  </div>

  <div class="row">
    <div class="column column-12">
      <img src="<%= @nasa_info["url"] %>" alt="daily nasa photo"responsive/>
      <article class="explanation"> <%= @nasa_info['explanation'] %></article>
    </div>
  </div>

  <!-- <div class="row">
    <div class="column column-12">
      <article> <%= @nasa_info['explanation'] %></article>
    </div>
  </div> -->

  <% if @nasa_info['copyright']  %>
    <div class="row">
      <div class="column column-12">
        <strong><%= "\u00A9" %> <%= @nasa_info['copyright'] %><strong>
      </div>
    </div>
  <% end %>
</div>
